* {
    box-sizing: border-box;
    --content-color: #f2f2f2;
}

@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    margin: 0;
    scroll-behavior: smooth !important;
}


/*Navigation Area*/

nav {
    display: inline-block;
    width: 100%;
    position: fixed;
    top: 0;
    min-height: 60px;
    background-color: rgba(251, 251, 251);
    text-align: center;
    z-index: 1000;
}

div.nav {
    margin: auto 15px auto 15px;
    padding: 15px;
    float: right;
}

div.nav a {
    position: relative;
    display: inline-block;
    text-decoration-line: none;
    margin: auto !important;
    text-align: center;
    padding: 10px;
}

div.nav a {
    text-decoration-line: none;
    color: rgb(36, 35, 35);
    margin: auto;
    padding: 5px 10px;
    font-size: 1.5vw;
    /*border: 1px solid rgb(153, 152, 152);*/
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}


/*Hide the nav resposive toggle icon element*/

.navbar .toggle {
    display: none;
}

a:hover,
a:focus,
a:active {
    background: rgba(116, 115, 115, 0.2);
    transition: all 0.3s ease-in;
}


/* Media queriy for Resposive Nav Section*/

@media screen and (max-width: 900px) {
    nav {
        background: none;
    }
    div.nav a {
        display: none;
    }
    .nav .toggle {
        float: right;
        display: inline-block;
    }
    .nav.responsive {
        position: relative;
        transition: all ease-in-out 2s;
    }
    .nav.responsive a.toggle {
        position: absolute;
        right: 0;
        top: 0;
        padding: 20px 20px 0 auto !important;
    }
    .nav.responsive a {
        float: none;
        display: block;
        text-align: center;
        padding: 10px 20px;
    }
}


/* End of Nav Section*/


/*header area*/

header.header-section {
    display: block;
    background-image: url("/img/bg-4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 90vmin;
    position: relative;
    margin: 0;
}

div.overlay {
    background: black;
    width: 100%;
    height: 100%;
    display: block;
    opacity: 0.4;
    transition: 2s ease-in;
}

div.overlay:hover {
    opacity: 0.9;
    cursor: pointer;
}

div.header-container {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    width: 70vw;
    transform: translate(-50%, -50%);
    /* width: 70%;
    height: 200px;
    text-align: center;
    margin: auto;*/
}

h1.main-tag {
    /* text-transform: uppercase;*/
    margin: auto;
    font-size: 15vw;
    padding: 20px;
    padding-bottom: 0;
    color: #fff;
    font-family: 'Dancing Script', cursive;
    font-weight: 200;
}

p.main-byline {
    color: #fff;
    font-size: 2vw;
    margin-top: 0;
}

@media screen and (max-width: 900px) {
    header.header-section {
        position: relative;
        top: 0;
    }
}


/*End Header Section*/


/*feature area*/

.feature-area-container {
    padding-top: 10px;
}

div.About {
    margin: 60px 0 auto 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

div.About-content {
    width: 350px;
    margin: 20px;
    height: 450px;
    background: var(--content-color, rgb(238, 238, 238));
    text-align: center;
}

div.About-content:hover {
    transform: scale(1.05);
    transition: all 0.2s ease 0.1s;
    box-shadow: 0px 0px 10px 5px rgba(210, 210, 210, 0.32);
}

@media screen and (max-width: 360px) {
    div.About-content {
        max-width: 300px;
        margin: 0 auto 30px;
    }
    .blog-content {
        width: 90vw;
    }
}

div img {
    width: 100%;
    height: auto;
}

.About-content-title {
    padding: 0 40px;
    text-align: left;
}

.content-descriprion {
    padding: 0 40px 20px 40px;
    text-align: left;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    line-height: 1.5em;
}

.green-text {
    color: green;
}

.blue-text {
    color: #1686C1;
}

.gray-text {
    color: rgb(51, 34, 34)
}

div a.Content-btn {
    text-decoration-line: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: auto;
    color: white;
    font-size: 18px;
}

.green-btn {
    background: green;
}

.blue-btn {
    background: #1686C1;
}

.red-btn {
    background: red;
}


/*  Blog area*/

div.blog-container {
    margin: 25px 0 auto 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

div.blog-content {
    width: 550px;
    margin: 20px;
    height: 550px;
    background: var(--content-color, rgb(238, 238, 238));
    text-align: center;
}

div.blog-content img {
    width: 100%;
}

.blog-title {
    color: #666666;
}

.blog-description {
    padding: 0 40px 20px 40px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    line-height: 1.5em;
}

span.blog-btn a {
    margin-right: -213px !important;
    text-decoration-line: none;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #7c7c7c;
    color: #666666;
    font-size: 18px;
    background: #fff;
    font-family: 'Open Sans', sans-serif;
}

@media screen and (max-width: 414px) {
    div.blog-content {
        width: 90vmax;
        margin: 5px;
        text-align: center;
    }
    .blog-description {
        padding: 0 20px 20px 20px;
        font-family: 'Open Sans', Arial, Helvetica, sans-serif;
        line-height: 1.5em;
    }
    span.blog-btn a {
        margin: auto !important;
    }
}

@media screen and (max-width: 360px) {
    div.blog-content {
        width: 100vmax;
        margin: 10px;
        text-align: center;
        height: max-content;
    }
    .blog-description {
        padding: 0 20px 20px 20px;
        font-family: 'Open Sans', Arial, Helvetica, sans-serif;
        line-height: 1.5em;
    }
    span.blog-btn a {
        margin: auto !important;
    }
}


/*feature area*/


/*Service area*/

.main-service-container {
    padding-top: 9px;
}

.Service-container {
    display: inline-block;
    position: relative;
    top: 10vh;
    width: 100%;
    height: 50vh;
    background-image: url(/img/bg-2.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
}

.Service-title {
    position: absolute;
    width: 60vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Our-serv {
    font-size: 3vw;
    color: white;
    margin-bottom: 0;
}

.service-description {
    line-height: 1.3em;
    font-size: 1.5vw;
    color: white;
    font-family: 'Open Sans', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 0;
}

#Testimonial-area {
    position: relative;
    top: 120px;
    width: 100%;
    display: block;
    margin: auto;
}

.Testimony-container {
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-shrink: 1;
    justify-content: center;
    text-align: center;
    /*display: grid;
        grid-template-columns: repeat(auto-fit, 1fr);
        grid-gap: 30px;
        width: fit-content;
        text-align: -webkit-center;
        
        r;*/
}

.testimony-content {
    width: 250px;
    height: 505px;
    margin: 20px;
    background: var(--content-color, rgb(250, 249, 249));
}

.testimony-content img {
    width: 100%;
}

div.testimony-content:hover {
    transform: scale(1.05);
    transition: all 0.2s ease 0.1s;
    box-shadow: 0px 0px 10px 5px rgba(210, 210, 210, 0.32);
}

.Test-title {
    color: #666666;
}

.Test-description {
    padding: 0 20px 20px 20px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    line-height: 1.5em;
    text-align: left;
}

span.Test-btn a {
    margin: auto !important;
    text-decoration-line: none;
    padding: 10px 30px;
    border-radius: 10px;
    border: 1px solid #c7c6c6;
    color: #666666;
    font-size: 18px;
    background: #fff;
    font-family: 'Open Sans', sans-serif;
}


/*One Big Column Section*/

#big-section-column {
    position: relative;
    width: 100%;
    top: 159px;
}

.big-container {
    width: 100%;
    margin: auto;
    display: inline-block;
    /* grid-template-columns: 1fr;
        grid-auto-rows: 1fr;*/
}

.big-column-content {
    width: 85vw;
    height: 125vh;
    margin: auto;
    background: var(--content-color, lightgrey);
}

div.big-column-content img {
    width: 100%;
}

.big-column-title {
    color: #666666;
    padding: 40px 20px 0px 30px;
    margin-top: 0;
}

.desc1 {
    margin-bottom: 0;
}

.big-column-description {
    padding: 0 20px 10px 30px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    line-height: 1.5em;
    text-align: left;
}

.desc {
    margin-top: 0;
    margin-bottom: 20px;
}

span.big-column-btn {
    margin-top: 10px;
    margin-left: 30px;
}

span.big-column-btn a {
    /* margin: auto 5px 30px !important;*/
    text-decoration-line: none;
    padding: 10px 30px;
    border-radius: 10px;
    border: 1px solid #c7c6c6;
    color: #666666;
    font-size: 18px;
    background: #fff;
    font-family: 'Open Sans', sans-serif;
}

@media screen and (max-width: 1324px) {
    .big-column-content {
        height: ;
    }
}

@media screen and (max-width: 800px) {
    .big-column-content {
        /* height: 100vmax;*/
        width: auto;
        margin: 20px;
    }
}

@media screen and (max-width: 450px) {
    .big-column-content {
        display: block;
        margin: 20px;
        height: max-content;
    }
}


/*big column end*/

div#contact-area {
    position: relative;
    top: 192px;
}

section.contact-section {
    width: 100%;
    height: 590px;
    padding-top: 60px;
}

.Contact {
    background-image: url(/img/bg-3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    /*height: 90vh;*/
}

.contact-container {
    padding-top: 60px;
    padding-bottom: 60px;
    height: 100%;
    width: 60%;
    margin: auto;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*grid-template-rows: 20vmax 1fr;*/
    grid-template-areas: "top top""bottom bottom";
}

div.contact-content {
    grid-area: top !important;
}

div.contact-content h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 3.5vw;
    color: white;
    font-weight: 500;
    grid-area: top;
    margin-bottom: 0;
}

div.contact-main p {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 1.2vw;
    color: black;
    padding: 20px 30px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
}

form.contact-form {
    grid-area: bottom;
}

.form-grid {
    display: grid;
    /* grid-template-rows: 130px;*/
    grid-template-areas: 'left right';
    grid-column-gap: 10px;
}

.contact-form-left {
    grid-area: left;
}

input.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    margin: 0 0 10px 0;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.6);
}

.contact-form-right {
    grid-area: right;
    height: fit-content;
}

textarea.form-control {
    color: #000;
    display: block;
    width: 100%;
    height: 122px;
    padding: 6px 12px;
    margin: 0 0 10px 0;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.6);
}

.form-group {
    text-align: left;
}

div.form-group button {
    padding: 10px 30px;
    margin-top: 15px;
    /*margin-left: -337px;*/
    color: white;
    background: rgb(31, 30, 30);
    border: none;
    border-radius: 10px;
    font-size: 18px;
}

button.btn:hover,
button.btn:active {
    background: rgba(255, 255, 255, 0.4);
    color: #000;
    cursor: pointer;
}

@media screen and (max-width: 750px) {
    .contact-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "top ""bottom ";
    }
    .form-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 'top''bottom';
        grid-column-gap: 10px;
    }
    .contact-form-left {
        grid-area: top;
    }
    .contact-form-right {
        grid-area: bottom;
    }
}

@media screen and (max-width: 410px) {
    .contact-container {
        width: 90%;
        margin: auto 20px;
    }
    div.contact-content h1 {
        font-size: 1.5em;
    }
    div.contact-main p {
        font-size: 2vw;
    }
}


/*Contant Area Section*/


/*Footer Area*/

footer#footer-area {
    position: relative;
    background: white;
    top: 209px;
    text-align: center;
}

.footer-container {
    width: 100%;
    border-bottom: 1px solid #c5c4c4;
    padding-top: 10px;
}

.footer-content {
    width: 80vmin;
    margin: auto;
    color: #666666;
}

.footer-content h1 {
    text-emphasis: italic;
    font-size: 34px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.footer-content p {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    padding-bottom: 30px;
}

.page-copy-container {
    width: 100%
}

.page-copy-content p {
    color: #666666;
    font-family: 'Open Sans', sans-serif;
    padding-top: 10px;
    padding-bottom: 30px;
}